@if(product){
<div class="card productItem">
    <div class="productImage">
        <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title">
    </div>
    <div class="card-body productBody">
        <h5 class="card-title productTitle text-truncate ">{{ product.title }}</h5>
        <p class="card-text">
            {{ product.description | slice : 0 : 50 }}
            @if (product.description.length > 50) {
            <span>...</span>
            }
        </p>
        <button mat-button color="primary">Add To Cart</button>
        <button mat-button color="accent">View Details</button>
    </div>
</div>
} @else {
<p>No Product Found!</p>
}